button {
  background: #2c3e50;
  color: #ffffff;
}

button:hover {
  background: #8683aa;
}

header, body {
  margin: 0;
}

body {
  margin-top: 1em;
}

.navigation, .options {
  display: flex;
  justify-content: space-between;
}

.navigation-item {
  height: 40px;
  display: flex;
}

.navigation-date {
  margin-right: 1em;
  margin-left: 1em;
}

.settings {
  margin-left: 1em;
}

input {
  border: 1px solid #2c3e50;
  border-radius: 6px;
}

.options {
  background-color: white;
  border: 1px solid #2c3e50;
  border-radius: 6px;
  padding: 0 10px 0 10px;
  height: 170px;
  display: flex;
}

.options p {
  font-weight: bold;
}

.options-item {
  width: 17%;
}

input[type = checkbox] {
  cursor: pointer;
}

.scroll {
  display: flex;
  height: 110px;
  flex-wrap: wrap;
  overflow: auto;
  align-content: flex-start;
}

.scroll-item, .options-input-item {
  width: 100%;
  padding-bottom: 4px;
}

.options-input {
  display: flex;
  height: 110px;
  flex-wrap: wrap;
  align-content: flex-start;
}




