<body>
  <div class = "edit-form">
    <form [formGroup]="editForm">
      <p>{{ name }}</p>
      <div class="date">
        <p>Start {{ start }}</p>
        <p class="date-item">End {{ end }}</p>
      </div>
      <div class="form-edit">
        <div class="date">
          <input placeholder="Title" class="form-control" formControlName="title" [readOnly]="isDisableToEdit">
          <textarea contenteditable="true" placeholder="Task description" class="form-control description" formControlName="description" [readOnly]="isDisableToEdit"></textarea>
        </div>
        <div class="buttons" *ngIf="!isDisableToEdit">
          <button mat-raised-button (click)="restartStatus()">Change status to {{ formStatus }}</button>
          <button mat-raised-button class="buttons-item" (click)="delete.next('true')">Delete</button>
        </div>
      </div>
    </form>
  </div>
</body>



